@model ASPFinal.ViewModels.DetailsVM

<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Motor Land / Portfolio</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="telephone=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="~/Public/assets/css\master.css">
    <!-- SWITCHER-->
    <link href="~/Public/assets/plugins\switcher\css\switcher.css" rel="stylesheet" id="switcher-css">
    <link href="~/Public/assets/plugins\switcher\css\color1.css" rel="alternate stylesheet" title="color1">
    <link href="~/Public/assets/plugins\switcher\css\color2.css" rel="alternate stylesheet" title="color2">
    <link href="~/Public/assets/plugins\switcher\css\color3.css" rel="alternate stylesheet" title="color3">
    <link href="~/Public/assets/plugins\switcher\css\color4.css" rel="alternate stylesheet" title="color4">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!--[if lt IE 9 ]>
    <script src="assets/js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script><meta content="no" http-equiv="imagetoolbar">
    <![endif]-->
</head>
<body>
    <!-- Loader-->
    <div id="page-preloader">
        <span class="spinner border-t_second_b border-t_prim_a"></span>
    </div>
    <!-- Loader end-->
    <!-- ==========================-->
    <!-- MOBILE MENU-->
    <!-- ==========================-->
    <div data-off-canvas="mobile-slidebar left overlay">
        <a class="navbar-brand scroll" href="~/Home/Index">
            <img class="normal-logo img-resonsive visible-xs visible-sm" src="~/Public/assets/media\general\logo.png" alt="logo">
            <img class="scroll-logo img-resonsive hidden-xs hidden-sm" src="~/Public/assets/media\general\logo-dark.png" alt="logo">
        </a>
    </div>
    <div class="l-theme animated-css" data-header="sticky" data-header-top="200" data-canvas="container">
        <!-- Start Switcher-->
        <div class="switcher-wrapper">
            <div class="demo_changer">
                <div class="demo-icon text-primary">
                    <i class="fa fa-cog fa-spin fa-2x"></i>
                </div>
                <div class="form_holder">
                    <div class="predefined_styles">
                        <div class="skin-theme-switcher">
                            <h4>Color</h4>
                            <a class="styleswitch" href="javascript:void(0);" data-switchcolor="color1" style="background-color:#d01818"></a>
                            <a class="styleswitch" href="javascript:void(0);" data-switchcolor="color2" style="background-color:#FFAC3A"></a>
                            <a class="styleswitch" href="javascript:void(0);" data-switchcolor="color3" style="background-color:#28af0f"></a>
                            <a class="styleswitch" href="javascript:void(0);" data-switchcolor="color4" style="background-color:#e425e9"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end switcher-->
        <!-- ==========================-->
        <!-- SEARCH MODAL-->
        <!-- ==========================-->
        <div class="header-search open-search">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                        <div class="navbar-search">
                            <form class="search-global">
                                <input class="search-global__input" type="text" placeholder="Type to search" autocomplete="off" name="s" value="">
                                <button class="search-global__btn">
                                    <i class="icon stroke icon-Search"></i>
                                </button>
                                <div class="search-global__note">Begin typing your search above and press return to search.</div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <button class="search-close close" type="button">
                <i class="fa fa-times"></i>
            </button>
        </div>
        <div data-off-canvas="slidebar-1 left overlay">
            <ul class="nav navbar-nav">
                <li>
                    <a class="scrollTo" href="#features-section">features</a>
                </li>
                <li>
                    <a class="scrollTo" href="#services-section">Services</a>
                </li>
                <li>
                    <a class="scrollTo" href="#works-section">Works</a>
                </li>
                <li>
                    <a class="scrollTo" href="#about-section">About</a>
                </li>
                <li>
                    <a class="scrollTo" href="#team-section">Team</a>
                </li>
                <li>
                    <a href="#">News</a>
                    <div class="wrap-inside-nav">
                        <div class="inside-col">
                            <ul class="inside-nav">
                                <li>
                                    <a href="blog.html">Blog 1</a>
                                </li>
                                <li>
                                    <a href="blog-2.html">Blog 2</a>
                                </li>
                                <li>
                                    <a href="blog-single.html">Blog single</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                    <div class="wrap-inside-nav">
                        <div class="inside-col">
                            <ul class="inside-nav">
                                <li>
                                    <a href="portfolio.html">Portfolio</a>
                                </li>
                                <li>
                                    <a href="portfolio-single.html">Portfolio single</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">Contact</a>
                    <div class="wrap-inside-nav">
                        <div class="inside-col">
                            <ul class="inside-nav">
                                <li>
                                    <a href="contact.html">Contact 1</a>
                                </li>
                                <li>
                                    <a href="contact-2.html">Contact 2</a>
                                </li>
                                <li>
                                    <a href="contact-3.html">Contact 3</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <header class="header header-boxed-width navbar-fixed-top header-background-white header-color-black header-topbar-dark header-logo-black header-topbarbox-1-left header-topbarbox-2-right header-navibox-1-left header-navibox-2-right header-navibox-3-right header-navibox-4-right">
            <div class="container container-boxed-width">
                <div class="top-bar">
                    <div class="container">
                        <div class="header-navibox-2">
                            @if (Session["user"] == null)
                            {
                                <ul class="yamm main-menu nav navbar-nav">
                                    <li class="nav-item">
                                        @Html.ActionLink("Login", "Login", "Account", null, new { @class = "nav-link" })
                                    </li>
                                </ul>
                            }
                            else
                            {
                                var user = Session["user"] as ASPFinal.Models.User;
                                <ul class="yamm main-menu nav navbar-nav">
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="car-details.html" data-toggle="dropdown">@user.Name<b class="caret"></b></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a style="color: black;" class="dropdown-item" href="/Account/Logout">Log out</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            }
                        </div>

                    </div>
                </div>

                <nav class="navbar" id="nav">
                    <div class="container">
                        <div class="header-navibox-1">
                            <!-- Mobile Trigger Start-->
                            <button class="menu-mobile-button visible-xs-block js-toggle-mobile-slidebar toggle-menu-button">
                                <i class="toggle-menu-button-icon"><span></span><span></span><span></span><span></span><span></span><span></span></i>
                            </button>
                            <!-- Mobile Trigger End-->
                            <a class="navbar-brand scroll" href="~/Home/Index">
                                <img class="normal-logo img-responsive" src="~/Public/assets/media\general\logo.png" alt="logo">
                                <img class="scroll-logo hidden-xs img-responsive" src="~/Public/assets/media\general\logo-dark.png" alt="logo">
                            </a>
                        </div>
                        @if (Session["user"] != null)
                        {
                            <div style="margin-top: 9px;" class="header-navibox-3">
                                <ul class="nav navbar-nav hidden-xs clearfix vcenter"></ul><a class="btn btn-primary" href="Announcements/Create">Create Announcement</a>
                            </div>
                        }
                        <div class="header-navibox-2">
                            <ul class="yamm main-menu nav navbar-nav">
                                <li>
                                    <a href="~/Home/Index">Home</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end .header-->
        <div class="section-title-page area-bg area-bg_dark area-bg_op_70">
            <div class="area-bg__inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1 class="b-title-page bg-primary_a">cars details</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end .b-title-page-->
        <div class="bg-grey">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ol class="breadcrumb">
                            <li>
                                <a href="Index"><i class="icon fa fa-Index"></i></a>
                            </li>
                            <li>
                                <a href="listings-1.html.html">Vehicle Inventry</a>
                            </li>
                            <li class="active">Car Details</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- end breadcrumb-->
        <main class="l-main-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        @if (Model.Announcements.Vip == true)
                        {
                            <div class="b-goods-feat">
                                <div class="b-goods-feat__img">
                                    <a href="@Model.Announcements.CarDetails.Model.Id">
                                        <img style="width: 54em;     height: 24em;" class="img-responsive" src="~/Public/assets/media\components\b-goods\@Model.Announcements.CarDetails.Image" alt="foto">
                                    </a>
                                </div>
                                <h3 class="b-goods-feat__name">@Model.Announcements.CarDetails.Model.Name (VIP) </h3>
                                <div class="b-goods-feat__info">@Model.Announcements.CarDetails.ShortContent</div>
                            </div>
                        }
                        else
                        {
                            <div class="b-goods-feat">
                                <div class="b-goods-feat__img">
                                    <a href="@Model.Announcements.CarDetails.Model.Id">
                                        <img style="width: 54em;     height: 24em;" class="img-responsive" src="~/Public/assets/media\components\b-goods\@Model.Announcements.CarDetails.Image" alt="foto">
                                    </a>
                                </div>
                                <h3 class="b-goods-feat__name">@Model.Announcements.CarDetails.Model.Name</h3>
                                <div class="b-goods-feat__info">@Model.Announcements.CarDetails.ShortContent</div>
                            </div>
                        }
                    </div>
                    <div class="col-md-4">
                        <aside class="l-sidebar-2">
                            <div class="b-car-info">
                                <div class="b-car-info__price">
                                    $ @Model.Announcements.CarDetails.Price
                                </div>
                                <dl class="b-car-info__desc dl-horizontal bg-grey">

                                    <dt class="b-car-info__desc-dt">Marka : </dt>
                                    <dd class="b-car-info__desc-dd">@Model.Announcements.CarDetails.Model.Marka.Name</dd>

                                    <dt class="b-car-info__desc-dt">Year : </dt>
                                    <dd class="b-car-info__desc-dd">@Model.Announcements.CarDetails.ProductionYear.ToString("yyyy")</dd>

                                    <dt class="b-car-info__desc-dt">Capacity : </dt>
                                    <dd class="b-car-info__desc-dd"> @Model.Announcements.CarDetails.EngineCapacity</dd>

                                    <dt class="b-car-info__desc-dt">March : </dt>
                                    <dd class="b-car-info__desc-dd">@Model.Announcements.CarDetails.CarMarch </dd>

                                    <dt class="b-car-info__desc-dt">Fuel Type : </dt>
                                    <dd class="b-car-info__desc-dd">@Model.Announcements.CarDetails.FuelType.Name</dd>

                                    <dt class="b-car-info__desc-dt">Color : </dt>
                                    <dd class="b-car-info__desc-dd">@Model.Announcements.CarDetails.Color</dd>

                                    <dt class="b-car-info__desc-dt">Gearbox : </dt>
                                    <dd class="b-car-info__desc-dd">@Model.Announcements.CarDetails.Gearbox.Name</dd>

                                    <dt class="b-car-info__desc-dt">March : </dt>
                                    <dd class="b-car-info__desc-dd">@Model.Announcements.CarDetails.CarMarch</dd>
                                </dl>
                                <!-- end .b-banner-->
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
            <!-- end .b-car-details-->
            <section class="section-default_top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="ui-title-block">Related Cars</h2>
                            <div class="ui-decor"></div>
                            <div class="" data-min768="2" data-min992="3" data-min1200="3" data-margin="30" data-pagination="false" data-navigation="true" data-auto-play="4000" data-stop-on-hover="true">
                                @foreach (var item in Model.RelatedADS)
                                {
                                    <div style="margin-bottom: 20px;" class="b-goods-feat">
                                        <div class="b-goods-feat__img">
                                            <a href="@item.CarDetails.Model.Id">
                                                <img class="img-responsive" src="~/Public/assets/media\components\b-goods\@item.CarDetails.Image" alt="foto"><span class="b-goods-feat__label">$@item.CarDetails.Price</span>
                                            </a>
                                        </div>
                                        <ul class="b-goods-feat__desc list-unstyled">
                                            <li class="b-goods-feat__desc-item">@item.CarDetails.CarMarch</li>
                                            <li class="b-goods-feat__desc-item">Year: @item.CarDetails.ProductionYear.ToString("yyyy")</li>
                                            <li class="b-goods-feat__desc-item">@item.CarDetails.Gearbox.Name</li>
                                            <li class="b-goods-feat__desc-item">@item.CarDetails.Model.Marka.Name</li>
                                        </ul>
                                        <h3 class="b-goods-feat__name">@item.CarDetails.Model.Name</h3>
                                        <div class="b-goods-feat__info">@item.CarDetails.ShortContent</div>
                                        <span style="color: #D01818">----------------------------------------------------------------------------------------------------------------------------------------</span>
                                    </div>
                                }
                                <!-- end .b-goods-featured-->

                            </div>
                            <!-- end .related-carousel-->
                        </div>
                    </div>
                </div>
            </section>
            <!-- end .section-default_top-->
        </main>
        <!-- end .l-main-content-->
        <footer class="footer area-bg">
            <div class="area-bg__inner">
                <div class="footer__main">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="footer-section">
                                    <a class="footer__logo" href="Index">
                                        <img class="img-responsive" src="~/Public/assets/media\general\logo.png" alt="Logo">
                                    </a>
                                    <div class="footer__info">Duis aute irure reprehend voluptate velit ese acium fugiat nula pariatur exceptus ipsum dolor sit amet consectetur adipisic elita sed eiusmod tempor.</div>
                                    <ul class="social-net list-inline">
                                        <li class="social-net__item">
                                            <a class="social-net__link text-primary_h" href="facebook.com"><i class="icon fa fa-facebook"></i></a>
                                        </li>
                                        <li class="social-net__item">
                                            <a class="social-net__link text-primary_h" href="twitter.com"><i class="icon fa fa-twitter"></i></a>
                                        </li>
                                        <li class="social-net__item">
                                            <a class="social-net__link text-primary_h" href="linkedin.com"><i class="icon fa fa-linkedin"></i></a>
                                        </li>
                                        <li class="social-net__item">
                                            <a class="social-net__link text-primary_h" href="instagram.com"><i class="icon fa fa-instagram"></i></a>
                                        </li>
                                        <li class="social-net__item">
                                            <a class="social-net__link text-primary_h" href="youtube.com"><i class="icon fa fa-youtube-play"></i></a>
                                        </li>
                                    </ul>
                                    <!-- end .social-list-->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <section class="footer-section footer-section_list-columns">
                                    <h3 class="footer-section__title ui-title-inner">Top Brands</h3>
                                    <ul class="footer-list footer-list_columns list-unstyled">
                                        <li class="footer-list__item">
                                            <a class="footer-list__link" href="about.html">Alfa Romeo</a>
                                        </li>
                                        <li class="footer-list__item">
                                            <a class="footer-list__link" href="about.html">Ferrari</a>
                                        </li>
                                        <li class="footer-list__item">
                                            <a class="footer-list__link" href="about.html">BMW Series</a>
                                        </li>
                                        <li class="footer-list__item">
                                            <a class="footer-list__link" href="about.html">Mercedes</a>
                                        </li>
                                        <li class="footer-list__item">
                                            <a class="footer-list__link" href="about.html">Aston Martin</a>
                                        </li>
                                        <li class="footer-list__item">
                                            <a class="footer-list__link" href="about.html">Toyota</a>
                                        </li>
                                        <li class="footer-list__item">
                                            <a class="footer-list__link" href="about.html">Opel</a>
                                        </li>
                                        <li class="footer-list__item">
                                            <a class="footer-list__link" href="about.html">Land Rover</a>
                                        </li>
                                        <li class="footer-list__item">
                                            <a class="footer-list__link" href="about.html">Mclaren</a>
                                        </li>
                                        <li class="footer-list__item">
                                            <a class="footer-list__link" href="about.html">Peogeot</a>
                                        </li>
                                        <li class="footer-list__item">
                                            <a class="footer-list__link" href="about.html">Renault</a>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col-md-2">
                                <section class="footer-section footer-section_list-one">
                                    <h3 class="footer-section__title ui-title-inner">Categories</h3>
                                    <ul class="footer-list list-unstyled">
                                        <li class="footer-list__item">
                                            <a class="footer-list__link" href="about.html">Trucks</a>
                                        </li>
                                        <li class="footer-list__item">
                                            <a class="footer-list__link" href="about.html">Sports Cars</a>
                                        </li>
                                        <li class="footer-list__item">
                                            <a class="footer-list__link" href="about.html">Crossovers</a>
                                        </li>
                                        <li class="footer-list__item">
                                            <a class="footer-list__link" href="about.html">Hybrid Cars</a>
                                        </li>
                                        <li class="footer-list__item">
                                            <a class="footer-list__link" href="about.html">Hybrid SUVs</a>
                                        </li>
                                        <li class="footer-list__item">
                                            <a class="footer-list__link" href="about.html">Future Cars</a>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                            <div class="col-md-3">
                                <section class="footer-section">
                                    <h3 class="footer-section__title ui-title-inner">Address Information</h3>
                                    <div class="footer-contact footer-contact_lg">
                                        Call us<span class="text-primary"> (042) 789 35490</span>
                                    </div>
                                    <div class="footer-contact"><i class="icon icon-xs fa fa-envelope-o"></i>support@motorland.com</div>
                                    <div class="footer-contact"><i class="icon icon-lg fa fa-map-marker"></i>Fairview Ave, El Monte, CA, 91732</div>
                                    <div class="footer-contact"><i class="icon fa fa-clock-o"></i>Mon - Fri : 0900am to 0600pm</div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                Copyrights 2017<a class="copyright__brand" href="Index"> MOTORLAND</a> All Rights Reserved<a class="copyright__link" href="privacy-policy.html">Privacy Policy</a><a class="copyright__link" href="terms-of-use.html">Terms & Conditions</a>
                            </div>
                        </div>
                    </div>
                </div><span class="btn-up" id="toTop">TOP</span>
            </div>
        </footer>
        <!-- .footer-->
    </div>
    <!-- end layout-theme-->
    <!-- ++++++++++++-->
    <!-- MAIN SCRIPTS-->
    <!-- ++++++++++++-->
    <script src="~/Public/assets/libs\jquery-1.12.4.min.js"></script>
    <script src="~/Public/assets/libs\jquery-migrate-1.2.1.js"></script>
    <!-- Bootstrap-->
    <script src="~/Public/assets/libs\bootstrap\bootstrap.min.js"></script>
    <!-- User customization-->
    <script src="~/Public/assets/js\custom.js"></script>
    <!-- Headers scripts-->
    <script src="~/Public/assets/plugins\headers\slidebar.js"></script>
    <script src="~/Public/assets/plugins\headers\header.js"></script>
    <!-- Color scheme-->
    <script src="~/Public/assets/plugins\switcher\js\dmss.js"></script>
    <!-- Select customization & Color scheme-->
    <script src="~/Public/assets/plugins\bootstrap-select\js\bootstrap-select.min.js"></script>
    <!-- Slider-->
    <script src="~/Public/assets/plugins\owl-carousel\owl.carousel.min.js"></script>
    <!-- Pop-up window-->
    <script src="~/Public/assets/plugins\magnific-popup\jquery.magnific-popup.min.js"></script>
    <!-- Mail scripts-->
    <script src="~/Public/assets/plugins\jqBootstrapValidation.js"></script>
    <script src="~/Public/assets/plugins\contact_me.js"></script>
    <!-- Filter and sorting images-->
    <script src="~/Public/assets/plugins\isotope\isotope.pkgd.min.js"></script>
    <script src="~/Public/assets/plugins\isotope\imagesLoaded.js"></script>
    <!-- Progress numbers-->
    <script src="~/Public/assets/plugins\rendro-easy-pie-chart\jquery.easypiechart.min.js"></script>
    <script src="~/Public/assets/plugins\rendro-easy-pie-chart\waypoints.min.js"></script>
    <!-- NoUiSlider-->
    <script src="~/Public/assets/plugins\noUiSlider\nouislider.min.js"></script>
    <script src="~/Public/assets/plugins\noUiSlider\wNumb.js"></script>
    <!-- Animations-->
    <script src="~/Public/assets/plugins\scrollreveal\scrollreveal.min.js"></script>
    <!-- Main slider-->
    <script src="~/Public/assets/plugins\slider-pro\jquery.sliderPro.min.js"></script>
</body>
</html>